/* Body styles and basic styling */
html, body, .api-app {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    color: #33332D;
    margin-bottom: 20px;
    margin:0;
	padding:0;
	height:100%;
	min-height: 100%;
}

a {
    color: #df565b;
}

a:hover,
a:focus {
    color: #df565b;
    text-decoration: underline;
}