/* Header styles */

.app-header {
    background-color: #33332D;
    color: #CCCC9F;
    margin-bottom: 10px;
}

.app-header h1 {
    margin: 0;
    padding: 20px 0 5px;
    text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .app-header h1 {
        text-align: left;
    }
}
