/* Body styles and basic styling */
body {
    background-color: #FFF8E3;
    color: #33332D;
}

a {
    color: #DB4105;
}

a:hover,
a:focus {
    color: #DB4105;
    text-decoration: underline;
}


/* Header base styles */
.app-header {
    background-color: #33332D;
    color: #CCCC9F;
}

.app-header h1 {
    margin: 0;
    padding: 20px 0 5px;
    text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .app-header h1 {
        text-align: left;
        padding-left: 20px;
    }
}
