# Ignore editor specific files and directories
.idea/
*.iml

# Ignore npm and bower dependencies
node_modules/
bower_components/

# Ignore distribution folder
dist/

# Ignore OS-specific files
.DS_Store

# Ignore temporary grunt folder
.tmp/

# No need to remember the logs
*.log

# ...or the zip archives
*.zip
