<div class="full-height container">

    <div ng-show="resources">
        <div class="search-field-wrapper">
            <input class="search-field" type="text" ng-model="filter.query" placeholder="search" autofocus/>
        </div>
        <ul class="resource-list">
            <li ng-repeat="res in resources | filter:filter.query | orderBy:res.displayName" class="endpoint">
                <div class="resource">
                    <h3><a href="#/{{endpointId}}/{{ res.id }}">{{ res.name }}</a></h3>

                    <div class="meta">
                        <span class="glyphicon glyphicon-calendar"></span> {{ res.lastUpdated.substr(0,10) }}
                        <span class="glyphicon glyphicon-time"></span> {{ res.lastUpdated.substr(11,8) }}
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div ng-show="output">
        <h2>Browse the JSON</h2>

        <div hljs source="output" language="json" class="output-window"></div>
    </div>
</div>
