<div class="container">
    <div class="search-field-wrapper">
        <input class="search-field" type="text" ng-model="filter.query" placeholder="search" autofocus/>
    </div>
    <div class="api-endpoints-wrapper">
        <ul class="api-endpoints-list">
            <li ng-repeat="endpoint in endpoints | filter:filter.query | orderBy:endpoint.displayName"
                class="list-item api-endpoint">
                <a href="#/{{ endpoint.plural }}">{{endpoint.displayName}}</a>
            </li>
        </ul>
    </div>
</div>
